.pricing {
    width: 98vw;
    display: grid;
    justify-content: center;
    margin-bottom: 30px;

    & h1 {
        font-size: 56px;
        font-weight: medium;
        margin-bottom: 40px;
        text-align: center;
        color: #ffff;
    }
    & h2 {
        font-size: 20px;
        font-weight: regular;
        color: #ffff;
        text-align: center;
    }
    & .pricing-2 {
        display: grid;
        width: 941px;

        & .circle_1 {
            left: 500px;
            position: absolute;
            width: 300px;
            height: 500px;
            border-radius: 50%;
            display: grid;
            background-color: #7511df;
            filter: blur(200px); /* Размытие слоя */
            -webkit-filter: blur(200px); /* Для Safari */
            z-index: 10;

            & .circle_2 {
                width: 300px;
                height: 500px;
                display: grid;
                border-radius: 50%;
                background-color: #7511df;
                filter: blur(100px); /* Размытие слоя */
                -webkit-filter: blur(100px); /* Для Safari */
                z-index: 10;
            }
        }
        & .cart {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            & p {
                font-size: 24px;
                color: #ffff;
                font-weight: medium;
            }
            & span {
                font-size: 16px;
                font-weight: regular;
                color: #ffffffa0;
            }
            & li {
                font-size: 14px;
                font-weight: regular;
                color: #ffffff;
                line-height: 26px;
                letter-spacing: 1px;
            }
            & a {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                height: 42px;
                background-color: #ffffff19;
                border-radius: 1em;
                border: 1px solid #3d3d3d;
                text-decoration: none;
                color: #ffffff;
                text-align: center;
                -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.412) inset;
                -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.412) inset;
                box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.412) inset;
            }
            & .cart_info {
                background-color: #000000c0;
                padding: 20px;
                width: 307px;
                border-radius: 1em;
                border: #ffffff2a 1px solid;
                height: 500px;
                justify-content: start;
                text-align: left;

                & .cart_info_up {
                    display: grid;
                    align-items: start;
                    grid-auto-rows: 40px;
                    border-bottom: 2px solid #ffffff2a;
                }
                & .cart_info_down {
                    margin-top: 20px;
                    display: grid;
                    align-content: space-between;
                    height: 75%;

                    & li {
                        list-style-type: none;
                        margin-bottom: 13px;
                    }
                    & li:before {
                        content: "✓";
                    }
                }
            }
            & .cart-2 {
                background: url(../../img/Pattern.png);

                & .cart_info_pro {
                    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0) 26%, rgba(148, 41, 255, 0.2));
                    background: -moz-linear-gradient(180deg, rgb(0, 0, 0) 26%, rgb(148, 41, 255, 0.2));
                    background: linear-gradient(180deg, rgb(0, 0, 0) 26%, rgb(148, 41, 255, 0.2));

                    mix-blend-mode: normal;
                    padding: 20px;
                    width: 307px;
                    border-radius: 1em;
                    border: #ffffff2a 1px solid;
                    height: 500px;
                    justify-content: start;
                    text-align: left;

                    & .cart_info_up {
                        display: grid;
                        align-items: start;
                        grid-auto-rows: 40px;
                        border-bottom: 2px solid #ffffff2a;
                    }
                    & .cart_info_down {
                        margin-top: 20px;
                        display: grid;
                        align-content: space-between;
                        height: 75%;

                        & li {
                            list-style-type: none;
                            margin-bottom: 13px;
                        }
                        & li:before {
                            content: "✓";
                        }
                        & a {
                            display: inline-flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            background-color: #8c45ff70;
                            -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.7) inset;
                            -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.7) inset;
                            box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.7) inset;
                        }
                    }
                }
            }
        }
    }
}
[class^="cart_info_down-"] {
    display: grid;
}
//Button
.toggle-button-cover {
    justify-self: center;
    display: grid;
    text-align: center;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #000000;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 3 */
#button-3 .knobs:before {
    content: "NO";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #ffffff;
    border-radius: 50%;
    transition:
        0.3s ease all,
        left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
    content: "YES";
    left: 42px;
    background-color: #ffffff;
}

#button-3 .checkbox:checked ~ .layer {
    background-color: #532598;
}
//Button
