@charset "UTF-8";
.header {
  position: fixed;
  z-index: 10000000;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1450980392);
  gap: 74px;
  background-color: rgba(255, 255, 255, 0.048);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.header .border {
  display: grid;
  align-items: center;
  border: solid 1px rgba(255, 255, 255, 0.1450980392);
  border-radius: 2em;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  height: 42px;
  width: 512px;
}
.header .border .header-1 {
  padding-left: 40px;
}
.header .border .header-5 {
  padding-right: 40px;
}
.header a {
  display: grid;
  text-decoration: none;
  color: #ffffff;
}
.header a ul {
  display: grid;
  height: 32px;
  width: 121px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: rgba(140, 69, 255, 0.3333333333);
  outline-offset: 6px;
  outline: 1px solid rgba(255, 255, 255, 0.1450980392);
  justify-content: center;
  border-radius: 8px;
  box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.2705882353);
  transition: 0.7s;
}
.header a ul li {
  display: flex;
}
.header a :hover {
  color: rgba(255, 255, 255, 0.5215686275);
  outline-offset: 3px;
  transition: 0.6s;
}

[class^=header-] {
  text-align: center;
  display: grid;
}

@font-face {
  font-family: "Inter Regular";
  src: url(../../font/Inter/Inter-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  font-family: Inter Regular;
  width: 100%;
  height: 100%;
}
html .main,
body .main {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  display: grid;
  background-image: url(../../img/content_bacкground.png);
  grid-template-rows: repeat(2);
}
.content .content-1 .hero {
  margin-top: 153px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.content .content-1 .hero .stack {
  display: grid;
  grid-template-rows: repeat(4);
  text-align: center;
}
.content .content-1 .hero .stack .stack-1 {
  width: 300px;
  height: 42px;
  justify-self: center;
  align-self: center;
}
.content .content-1 .hero .stack .stack-1 .border {
  display: grid;
  background-color: #000000;
  align-items: center;
  justify-content: space-around;
  border: solid 1px rgba(255, 255, 255, 0.1450980392);
  color: #9855ff;
  font-size: 16px;
  grid-template-columns: auto auto;
  border-radius: 50px;
  padding: 0 14px 0 14px;
  gap: 7px;
}
.content .content-1 .hero .stack .stack-1 .border .new {
  background-color: #9855ff;
  border-radius: 40px;
  font-weight: bold;
  color: black;
  font-size: 10px;
  padding: 3px 4px 3px 4px;
}
.content .content-1 .hero .stack .stack-2 {
  display: inline-flex;
  margin-top: 13px;
  font-size: 52px;
  background: linear-gradient(180deg, #ffffff, #b372cf);
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text; /* Для поддержки WebKit-браузеров */
  -webkit-text-fill-color: transparent; /* Убирает сплошной цвет текста */
}
.content .content-1 .hero .stack .stack-3 {
  mix-blend-mode: normal;
  z-index: 10;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.content .content-1 .hero .stack .stack-4 {
  mix-blend-mode: normal;
  justify-self: center;
  align-self: center;
  z-index: 1000;
}
.content .content-1 .hero .stack .stack-4 a {
  width: 121px;
  height: 41px;
  display: grid;
  text-decoration: none;
  color: #000000;
  transition: 0.7s;
}
.content .content-1 .hero .stack .stack-4 a ul {
  display: grid;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: #ffffff;
  outline-offset: 6px;
  outline: 1px solid rgba(255, 255, 255, 0.1450980392);
  justify-content: center;
  border-radius: 8px;
  transition: 0.6s;
}
.content .content-1 .hero .stack .stack-4 a ul li {
  display: flex;
}
.content .content-1 .hero .stack .stack-4 :hover {
  color: #8a8a8a;
  transition: 0.6s;
  outline-offset: 3px;
}
.content .content-2 {
  margin-top: 33px;
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-rows: repeat(2);
  box-shadow: 0px 0px 70px 0px rgba(140, 69, 255, 0.7);
}
.content .content-2 img {
  z-index: 100;
}
.content .content-2 .circle_1 {
  position: absolute;
  width: 825px;
  height: 825px;
  border-radius: 50%;
  display: grid;
  background-color: #602a9a;
  filter: blur(200px); /* Размытие слоя */
  -webkit-filter: blur(200px); /* Для Safari */
}
.content .content-2 .circle_1 .circle_2 {
  width: 569px;
  height: 569px;
  display: grid;
  border-radius: 50%;
  background-color: #622a9a;
  filter: blur(50px); /* Размытие слоя */
  -webkit-filter: blur(50px); /* Для Safari */
}

.circle_1,
[class^=stack-] {
  text-align: center;
  display: grid;
}

.companies {
  display: grid;
  background-color: rgba(0, 0, 0, 0.8431372549);
  z-index: 10000;
  width: 98vw;
}
.companies .companies-1 {
  color: rgba(255, 255, 255, 0.7058823529);
  margin-top: 59px;
  margin-bottom: 40px;
}
.companies .companies-2 {
  gap: 10px;
  justify-content: center;
  align-items: center;
  grid-template-areas: "A B C D" "E F G H";
}
.companies .companies-2 .logo-1 {
  grid-area: A;
}
.companies .companies-2 .logo-2 {
  grid-area: B;
}
.companies .companies-2 .logo-3 {
  grid-area: C;
}
.companies .companies-2 .logo-4 {
  grid-area: D;
}
.companies .companies-2 .logo-5 {
  grid-area: E;
}
.companies .companies-2 .logo-6 {
  grid-area: F;
}
.companies .companies-2 .logo-7 {
  grid-area: G;
}
.companies .companies-2 .logo-8 {
  grid-area: H;
}
.companies .companies-2 a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.companies .companies-2 a::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(30deg, rgba(255, 255, 255, 0) 15%, rgba(140, 69, 255, 0.4078431373) 100%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  z-index: -1;
}
.companies .companies-2 a:hover::before {
  opacity: 1;
}

[class^=companies-] {
  text-align: center;
  display: grid;
}

[class^=logos-] {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  height: 98px;
  width: 235px;
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  border-radius: 10px;
}

.bento {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80vw;
  gap: 31px;
  align-self: center;
  justify-self: center;
}
.bento span {
  font-size: 16px;
  font-weight: medium;
  color: #ffffff;
}
.bento p {
  color: rgba(255, 255, 255, 0.6431372549);
  font-weight: regular;
  font-size: 16px;
}
.bento .bento-1 {
  width: 80vw;
  justify-content: center;
  align-items: center;
}
.bento .bento-1 .seo-1 {
  justify-self: center;
  align-self: center;
  margin-bottom: 31px;
}
.bento .bento-1 .seo-1 h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: medium;
  width: 553px;
  margin-top: 153px;
}
.bento .bento-1 .seo-2 {
  grid-template-columns: auto auto;
  width: 80vw;
  gap: 10px;
}
.bento .bento-1 .seo-2 .seo-3 {
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding-bottom: 50px;
  justify-content: space-around;
}
.bento .bento-1 .seo-2 .seo-3 img {
  justify-self: center;
  align-self: center;
}
.bento .bento-1 .seo-2 .seo-3 .text {
  display: grid;
  gap: 10px;
  width: 100%;
}
.bento .bento-1 .seo-2 .seo-3 .text p {
  justify-self: center;
  align-self: center;
  width: 70%;
}
.bento .bento-1 .seo-2 .seo-3 .text span {
  justify-self: center;
  align-self: center;
  width: 70%;
}
.bento .bento-1 .seo-2 .seo-4 {
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  position: relative;
  border-radius: 10px;
  align-content: end;
  width: 55vw;
  height: 100%;
  min-height: 300px;
  background: url(../../img/app.png) no-repeat;
}
.bento .bento-1 .seo-2 .seo-4 .seo_back {
  display: grid;
  align-content: end;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(83, 37, 152, 0.8235294118));
}
.bento .bento-1 .seo-2 .seo-4 .text_frendly {
  mix-blend-mode: normal;
  display: grid;
  gap: 10px;
  padding-bottom: 50px;
}
.bento .bento-1 .seo-2 .seo-4 .text_frendly p {
  justify-self: center;
  align-self: center;
  width: 90%;
}
.bento .bento-1 .seo-2 .seo-4 .text_frendly span {
  justify-self: center;
  align-self: center;
  width: 90%;
}
.bento .bento-2 {
  width: 80vw;
  justify-content: center;
  align-items: center;
}
.bento .bento-2 .seo-1 {
  justify-self: center;
  align-self: center;
  margin-bottom: 31px;
}
.bento .bento-2 .seo-1 h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: medium;
  width: 553px;
  margin-top: 153px;
}
.bento .bento-2 .seo-2 {
  grid-template-columns: auto auto;
  width: 80vw;
  gap: 10px;
}
.bento .bento-2 .seo-2 .seo-3 {
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding-bottom: 50px;
  justify-content: space-around;
}
.bento .bento-2 .seo-2 .seo-3 img {
  justify-self: center;
  align-self: center;
}
.bento .bento-2 .seo-2 .seo-3 .text {
  display: grid;
  gap: 10px;
  width: 100%;
}
.bento .bento-2 .seo-2 .seo-3 .text p {
  justify-self: center;
  align-self: center;
  width: 70%;
}
.bento .bento-2 .seo-2 .seo-3 .text span {
  justify-self: center;
  align-self: center;
  width: 70%;
}
.bento .bento-2 .seo-2 .seo-4 {
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  position: relative;
  border-radius: 10px;
  align-content: end;
  width: 55vw;
  height: 100%;
  min-height: 300px;
  background: url(../../img/app_report.png) no-repeat;
}
.bento .bento-2 .seo-2 .seo-4 .seo_back {
  display: grid;
  align-content: end;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(83, 37, 152, 0.8235294118));
}
.bento .bento-2 .seo-2 .seo-4 .text_frendly {
  mix-blend-mode: normal;
  display: grid;
  gap: 10px;
  padding-bottom: 50px;
}
.bento .bento-2 .seo-2 .seo-4 .text_frendly p {
  justify-self: center;
  align-self: center;
  width: 90%;
}
.bento .bento-2 .seo-2 .seo-4 .text_frendly span {
  justify-self: center;
  align-self: center;
  width: 90%;
}

[class^=bento-] {
  text-align: left;
  display: grid;
}

[class^=seo-] {
  text-align: left;
  display: grid;
}

.features {
  display: grid;
  background: linear-gradient(150deg, #190d2e 0%, #150b26 18%, #020103 100%);
  width: 98vw;
  margin-top: 80px;
}
.features .box {
  display: grid;
  padding: 5% 5% 5% 5%;
  gap: 40px;
}
.features .box h1 {
  font-size: 65px;
  font-weight: medium;
  color: #ffffff;
  text-align: left;
  width: 30%;
}
.features .box .line {
  display: grid;
  gap: 123px;
  grid-template-columns: auto auto auto;
}

[class^=features-] {
  text-align: left;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
}
[class^=features-] span {
  color: #ffffff;
  font-size: 16px;
  font-weight: medium;
}
[class^=features-] p {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 16px;
  font-weight: medium;
  width: 70%;
}
[class^=features-] img {
  margin-right: 5px;
}

[class^=line-] {
  display: grid;
  gap: 40px;
}

@media (min-width: 1919px) {
  [class^=features-] p {
    width: 60%;
  }
}
.clients {
  display: grid;
  gap: 104px;
  width: 98vw;
  margin-bottom: 78px;
  justify-content: center;
}
.clients .clients-1 {
  margin-top: 78px;
  gap: 28px;
  justify-content: center;
}
.clients .clients-1 h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: medium;
  justify-self: center;
}
.clients .clients-1 h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  justify-self: center;
}
.clients .clients-2 {
  justify-content: center;
  gap: 45px;
}
.clients .clients-2 .clients-4 {
  justify-self: center;
  grid-template-columns: 30vw 60vw;
  gap: 45px;
}
.clients .clients-2 .clients-4 .image {
  display: grid;
  justify-content: end;
}
.clients .clients-2 .clients-4 .image img {
  box-shadow: 0px 0px 100px 3px rgba(140, 69, 255, 0.5);
}
.clients .clients-2 .clients-4 .clients-3 {
  width: 400px;
  padding: 20px 0 20px 0px;
  align-items: center;
  text-align: left;
  gap: 15px;
}

[class^=clients-] {
  display: grid;
  width: 98vw;
  color: #ffffff;
}
[class^=clients-] h2 {
  font-size: 23px;
  font-weight: medium;
}
[class^=clients-] span {
  font-size: 16px;
  font-weight: regilar;
}
[class^=clients-] p {
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.7);
}

.pricing {
  width: 98vw;
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
}
.pricing h1 {
  font-size: 56px;
  font-weight: medium;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}
.pricing h2 {
  font-size: 20px;
  font-weight: regular;
  color: white;
  text-align: center;
}
.pricing .pricing-2 {
  display: grid;
  width: 941px;
}
.pricing .pricing-2 .circle_1 {
  left: 500px;
  position: absolute;
  width: 300px;
  height: 500px;
  border-radius: 50%;
  display: grid;
  background-color: #7511df;
  filter: blur(200px); /* Размытие слоя */
  -webkit-filter: blur(200px); /* Для Safari */
  z-index: 10;
}
.pricing .pricing-2 .circle_1 .circle_2 {
  width: 300px;
  height: 500px;
  display: grid;
  border-radius: 50%;
  background-color: #7511df;
  filter: blur(100px); /* Размытие слоя */
  -webkit-filter: blur(100px); /* Для Safari */
  z-index: 10;
}
.pricing .pricing-2 .cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.pricing .pricing-2 .cart p {
  font-size: 24px;
  color: white;
  font-weight: medium;
}
.pricing .pricing-2 .cart span {
  font-size: 16px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0.6274509804);
}
.pricing .pricing-2 .cart li {
  font-size: 14px;
  font-weight: regular;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 1px;
}
.pricing .pricing-2 .cart a {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.0980392157);
  border-radius: 1em;
  border: 1px solid #3d3d3d;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.412) inset;
}
.pricing .pricing-2 .cart .cart_info {
  background-color: rgba(0, 0, 0, 0.7529411765);
  padding: 20px;
  width: 307px;
  border-radius: 1em;
  border: rgba(255, 255, 255, 0.1647058824) 1px solid;
  height: 500px;
  justify-content: start;
  text-align: left;
}
.pricing .pricing-2 .cart .cart_info .cart_info_up {
  display: grid;
  align-items: start;
  grid-auto-rows: 40px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1647058824);
}
.pricing .pricing-2 .cart .cart_info .cart_info_down {
  margin-top: 20px;
  display: grid;
  align-content: space-between;
  height: 75%;
}
.pricing .pricing-2 .cart .cart_info .cart_info_down li {
  list-style-type: none;
  margin-bottom: 13px;
}
.pricing .pricing-2 .cart .cart_info .cart_info_down li:before {
  content: "✓";
}
.pricing .pricing-2 .cart .cart-2 {
  background: url(../../img/Pattern.png);
}
.pricing .pricing-2 .cart .cart-2 .cart_info_pro {
  background: linear-gradient(180deg, rgb(0, 0, 0) 26%, rgba(148, 41, 255, 0.2));
  mix-blend-mode: normal;
  padding: 20px;
  width: 307px;
  border-radius: 1em;
  border: rgba(255, 255, 255, 0.1647058824) 1px solid;
  height: 500px;
  justify-content: start;
  text-align: left;
}
.pricing .pricing-2 .cart .cart-2 .cart_info_pro .cart_info_up {
  display: grid;
  align-items: start;
  grid-auto-rows: 40px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1647058824);
}
.pricing .pricing-2 .cart .cart-2 .cart_info_pro .cart_info_down {
  margin-top: 20px;
  display: grid;
  align-content: space-between;
  height: 75%;
}
.pricing .pricing-2 .cart .cart-2 .cart_info_pro .cart_info_down li {
  list-style-type: none;
  margin-bottom: 13px;
}
.pricing .pricing-2 .cart .cart-2 .cart_info_pro .cart_info_down li:before {
  content: "✓";
}
.pricing .pricing-2 .cart .cart-2 .cart_info_pro .cart_info_down a {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(140, 69, 255, 0.4392156863);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.7) inset;
}

[class^=cart_info_down-] {
  display: grid;
}

.toggle-button-cover {
  justify-self: center;
  display: grid;
  text-align: center;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #000000;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 3 */
#button-3 .knobs:before {
  content: "NO";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "YES";
  left: 42px;
  background-color: #ffffff;
}

#button-3 .checkbox:checked ~ .layer {
  background-color: #532598;
}

.join {
  display: grid;
  margin-bottom: 190px;
  width: 98vw;
  height: 500px;
  mix-blend-mode: normal;
  gap: 25px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.join h1 {
  margin-top: 100px;
  font-size: 56px;
  font-weight: medium;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}
.join .join-2 {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.join .join-2 input {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 50px;
  border-radius: 9px;
  color: rgba(255, 255, 255, 0.5);
}
.join .join-2 a {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  height: 50px;
  width: 100px;
  border-radius: 9px;
  text-align: center;
}
.join .join-3 {
  justify-content: center;
}
.join .join-3 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: regular;
}

[class^=join-] {
  display: grid;
}

.footer {
  display: grid;
}/*# sourceMappingURL=style.css.map */